.env
./env/
./venv/
./__pycache__/
./Annotations_app/__pycache__/
./Annotations_app/auth/__pycache__/
./Annotations_app/db/__pycache__/
./Annotations_app/migrations/__pycache__/
./Annotations_app/services/__pycache__/
./Annotations_app/tenants/__pycache__/
./Annotations_back/__pycache__/

./Annotations_app/webtest
./README.md